<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />	
	<title>选择项目</title>
	<style type="text/css">
		.main{
			width:80%;
			margin: 0 auto;
			text-align: center;
		}
		ul{
			padding: 0;
		}
		li{
			font-size: 20px;
			list-style: none;
		}
	</style>
</head>
<body>
	<div class='main'>
		<h1>选择一个项目</h1>
		<ul>
			<li><a href="/choosedate/jjc2v2">2v2</a></li>
			<li><a href="/choosedate/jjc3v3">3v3</a></li>
			<li><a href="/choosedate/jjc5v5">5v5</a></li>
			<li><a href="/choosedate/rbg">评级战场</a></li>
		</ul>
	</div>
</body>
</html>
